/* Reset Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rosario", sans-serif;
}

#home {
    height: 100vh;
}
.home-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content .logo {
    display: flex;
    justify-content: center;
}
.home-content img {
    max-width: 500px;
    height: auto;
}
.home-content .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}